@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-poppins: Poppins;
}



@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
  display: none;
}
}

.text-judul-1 {
    font-family: var(--font-poppins);
    font-size: 28px;
    font-weight: 600;
    color: #111827;
}
.text-judul-2 {
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

.text-body {
    font-family: var(--font-poppins);
    font-size: 16px;
    color: #4b5563;
}

/* Media query untuk layar dengan lebar maksimum 1024px */
@media screen and (max-width: 1024px) {
    .text-judul {
        font-size: 24px;
    }

}

.content {
    width: 100%;
    overflow: hidden;
    background: #f3f4f6;
    padding: 20px 0;
}

.track {
    display: flex;
    width: max-content;
    animation: scrollInfinite 25s linear infinite;
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 60px;
}

@keyframes scrollInfinite {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


@layer components {

    .nav-link {
        @apply relative inline-block text-base font-medium text-white;
    }

    .nav-link::after {
        content: "";
        @apply absolute left-1/2 -bottom-1 h-[2px] w-0 bg-white transition-all duration-300;
        transform: translateX(-50%);
    }

    .nav-link:hover::after {
        @apply w-full;
    }

    .nav-link.active::after {
        @apply w-full;
    }

}

/* From Uiverse.io by ArturCodeCraft */ 
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
/* ============================ */
/* <style for bg> ======== */
.background {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(15px);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <style for menu__icon> ======== */
.menu__icon {
  width: 31px;
  height: 31px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: rgb(0, 122, 255);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, opacity .4s;
}

.menu__icon:hover span:nth-child(1) {
  background-color: rgb(255, 59, 48);
  transform: translateY(5px) rotate(-35deg);
}

.menu__icon:hover span:nth-child(2) {
  transform: translate(-50%);
  opacity: 0;
}

.menu__icon:hover span:nth-child(3) {
  background-color: rgb(255, 59, 48);
  transform: translateY(-5px) rotate(35deg);
}


